body{
    background-image: url(Afinal\,\ para\ que\ serve\ a\ Matemática.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
.container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 1em;
    border-radius: 10px;
    }
button{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 137, 15);
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(255, 255, 255);
    cursor: pointer;
}
img{
    margin-top: 450px;
    margin: 500px;
}
footer{
    align-items: center;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}